<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastApi</title>
</head>
<body>
<!--    <h1>Index</h1>-->
<!--    <h1>INFO:{{ info }}</h1>-->
<!--    <li><a href="{{info}}">{{info}}</a></li>-->
    {% if file.status==false %}
    <ol>
        {% if uplist.status==true %}
        <li><a href="{{ uplist.url }}">..</a></li>
        {% endif %}
        {% for msg in info|reverse  %}
        <li><a href="{{msg.url}}">{{ msg.msg }}</a></li>
        {% else %}
        <li>文件</li>
        {% endfor %}
    </ol>
    {% endif  %}
    {% if file.status==true %}
    <div>
        {% for con in content.split("\n") %}
        <p>{{ con }}</p>
        {% endfor %}
    </div>
    {% endif  %}
</body>
</html>